body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #F8F8F8 ;
}

h3 {
	font-family: 'Open Sans', sans-serif;
}

h5 {

}

.row.section {
	padding: 1em 0;
}

/* Modals (Reveal) */
.reveal {
	max-width: 350px;
	border-radius: 5px;
	border: 0;
}
	.reveal-overlay {
		background-color: rgba(10, 10, 10, 0.65);
	}
#request-modal {
	max-width: 600px;
}

/* Buttons*/
.button {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.05rem;
	border-radius: 5px;
	margin: 0.5em 0;
	color: #fff;
}

.primary.button {
	color: #fff;
	padding: 0.85em 3em;
}

.hollow.button {
/*	border-color: #fff;
	color: #fff;*/
	border-radius: 5px;
}

.button.facebook {
	background-color: #3b5998;
	margin-bottom: 10px;
}
	.button.facebook:hover {
		background-color: #2b4477;
	}

.button.google {
	background-color: #DC4E41;
}
	.button.google:hover {
		background-color: #b23b30;
	}

/* Hero */
.hero {
  background: url("../img/hero-main.jpg") no-repeat bottom center;
  background-size: cover;
  height: 65vh;
  min-height: 300px;
  margin: 0;
  border: 0;
  text-align: center;
}
	.hero.photographer-main {
		background: url("../img/hero-apply.jpg") no-repeat center center;
  	background-size: cover;
	}
	.hero h1{
		padding-top: 6vh;
		color: #fff;
		font-size: 3.7rem;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 0.1rem;
	}
	.hero h3{
		color: #fff;
		font-size: 1.5rem;
		font-family: 'Open Sans', sans-serif;
		padding-bottom: 15px;
	}
	@media only screen and (max-width: 40em) {
		.hero h1{
			font-size: 2.5rem;
			letter-spacing: 0;
		}
		.hero h3{
			font-size: 1rem;
		}
	}
	/* Page Header */
	.hero.small {
		height: 30vh;
		min-height: 250px;
		text-align: center;

	}
		/* Location Search Header */
		.hero.small.explore {
			background: url("../img/hero-explore.jpg") no-repeat center center;
			background-size: cover;
			padding: 3.5em 0.9375rem 5em 0.9375rem;
		}
		@media screen and (min-width: 64em) {
			.hero.small.explore {
			padding: 3.5em 25% 5em 25%;
		}	}
		/* User Settings Header */
		.hero.small.account {
			background: url("../img/hero-account.jpg") no-repeat center center;
			background-size: cover;
			padding-top: 60px;
		}
			.hero.small.account h3 {
				font-size: 2rem;
				font-weight: 700;
				padding-top: 0.1em;
				padding-bottom: 0;
				margin-bottom: 0;
			}
			.hero.small.account a {
				font-size: 0.8rem;
				font-weight: 700;
				padding-top: 0;
				color: #fff;
			}
				.hero.small.account a:hover {
					text-decoration: underline;
				}
		/* Photographer Header */
		.hero.small.photographer {
			background: url("../img/hero-apply.jpg") no-repeat center center;
			background-size: cover;
			padding-top: 90px
		}
			.hero.small.photographer h3 {
				font-size: 3rem;
				font-weight: 700;
				padding-bottom: 0;
				margin-bottom: 0;
			}
			.hero.small.photographer p {
				font-size: 1rem;
				font-weight: 700;
				margin-top: 0;
				padding-top: 0;
				color: #fff;
			}
			@media screen and (max-width: 40em) {
				.hero.small.photographer h3 {
				font-size: 2rem;
			} }


/* How It Works */
#how {
	text-align: center;
	padding: 1em;
}
	.circle {
    border-radius: 50%;
    padding: 8px;
    border: 1px solid #1585cf;
    color: #1585cf;
    font-weight: 100;
    font-size: 2.5rem;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0.2em;
	}
	#how h2 {
		font-family: 'Open Sans', sans-serif;
		color: #666;
		font-weight: 100;
		font-size: 1.5rem;
		letter-spacing: 0.05rem;
	}
	#how p {
		color: #666;
		font-size: 0.9rem;
		padding: 0.3em;
	}

/* Become Photographer */
.callout.photographer {
	border-width: 1px 0;
	border-color: #DDD;
	margin: 0;
	background-color: #EEE;
	text-align: center;
	padding: 2em;
	color: #666;
}
	.callout.photographer a {
		margin-left: 1em;
	}

/* Photographer Login */
.callout.photographer-login {
	border-width: 1px 0;
	border-color: #DDD;
	margin: 0;
	background-color: #fff;
	text-align: center;
	padding: 2em 30% 2em 30%;
	color: #666;
}
	@media only screen and (max-width: 40em) {
		.callout.photographer-login {
			padding: 2em 20% 2em 20%;
		} }

/* Footer */
.footer {
	background-color: #333;
	margin: 0;
	text-align: center;
}
	.footer p {
		color: #fff;
		font-size: 0.8rem;
	}


/* Nav Styles */
.title-bar {
  background: #000;
  padding: 1rem;
  margin: 0; }
	.title-bar a {
	  color:#fff;
	  font-size: 1.2rem; }

.top-bar {
	background: #000;
	width: 100%;
	margin: 0;
	padding: 0.5rem 0 0.5rem 0; }
	.top-bar ul {
		background: #000; }
	.top-bar ul li {
		background: #000; }
	.top-bar ul li a {
		color: #fff;
		font-size: 0.9rem;
		font-weight: 700; }
	.top-bar ul li a:hover {
		color: #1585cf; }

.menu-text a {
  color: #fff; }
  @media only screen and (max-width: 40em) {
    .menu-text {
      display: none !important; } }

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-right: 1px solid #4e4e4e; }

  .menu:first-child {
    border-right: none; }

  .menu li:not(:last-child) {
    border-left: 1px solid #4e4e4e; } }

.dropdown.menu .submenu {
  border: none;
  margin-top: 0.6rem; }
	.dropdown.menu .submenu li {
	  border: none;
	  background: #444; }

/*.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
  border-color: #fff transparent transparent; }

.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent; }*/


/* Filter Box */
.accordion {
	margin: 0;
}
.accordion-title {
	font-size: 0.9rem;
	padding: 0.8em;
	font-weight: 700;
}
.accordion-content {
	padding-top: 0;
	padding-bottom: 0.5em;
}

/* Results / Sorting */
.sorting {
	font-size: 0.8rem;
	font-weight: 700;
	margin-top: 2em;
}
	.sorting p {
		color: #999;
	}
	.sorting a {
		color: #2199e8;
	}
	.sorting a:hover {
		color: #1585cf;
	}

/*  Photographer Profile & Card */
.callout.profile {
	border: 0;
}
.profile-top h3 {
	color: #666;
	font-weight: 700;
	font-size: 3rem;
}
	@media only screen and (max-width: 40em) {
		.profile-top h3 {
			font-size: 1.5rem;
		}	}
.profile-top p, .profile-top a {
	color: #666;
	margin-bottom: 0.5em;
}

.profile-card-mini {
	background-color: #fff;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	padding: 0;
	margin: 0.5em 0;
	width: 100%;
}
	.profile-card-mini:hover {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
	}
	.profile-card-mini:hover h5 {
		color: #1585cf;
	}

.profile-card {
	background-color: #fff;
	border-radius: 5px;
	padding: 0;
	margin: 0.5em 0;
	width: 100%;
	min-height: 380px;
}
	.profile-card:hover {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
	}
	.profile-card:hover h5 {
		color: #1585cf;
	}

.container {
  margin: 0;
  border: 0;
}
	.container img {
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		height: 250px;
		width: 100%;
	  object-fit: cover;
	}
	.container.cover {
	margin: 0;
	padding: 0;
	}

  .container.cover img {
	width: 100%;
	 object-fit: cover;
	 height: 40vh;
	 min-height: 350px;
	 border-top-right-radius: 0;
	border-top-left-radius: 0;
	}

.avatar {
	float: left;
	padding-right: 2em;
}
	.avatar img {
	  border-radius: 50%;
	  border: 2px solid #DDD;
	  width: 128px;
	  height: 128px;
	  object-fit: cover;
	}
	.avatar.small {
		padding: 0.7em 1em 0 1em;
	}
	.avatar.small img {
		width: 50px;
	  height: 50px;
	}

.avatar-centered {
	text-align: center;
}
	.avatar-centered img {
		border-radius: 50%;
	  border: 2px solid #DDD;
	  width: 100px;
	  height: 100px;
	  object-fit: cover;
	}

.review {
	margin-bottom: 3em;
}

.review-avatar {
	float: left;
	text-align: center;
	padding-right: 2em;
	margin-top: 0.2em;
}
	.review-avatar img {
	  border-radius: 50%;
	  border: 2px solid #DDD;
		width: 50px;
	  height: 50px;
	  object-fit: cover;
	}
.review-text {
	display: inline;
}

.review hr {
	border-bottom: 1px dotted #cacaca;
}

.profile-info {
	padding: 0.7em 1em 0.2em 1em;
}
	.profile-info h3 {
		font-size: 2rem;
		color: #666;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
	}
	.profile-info h4 {
		font-size: 0.9rem;
		text-transform: uppercase;
		color: #666;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 1em;
		margin-top: 1.2em;
	}
	.profile-info h5 {
		font-size: 1.1rem;
		color: #666;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
		margin: 0;
	}
	.profile-info p {
	font-size: 0.8rem;
	color: #999;
	}

.social p a {
	font-size: 1.2rem;
	color: #999;
}
	.social p a:hover {
		color: #666;
	}

.specialty {
	overflow: hidden;
	margin-bottom: 1em;
	padding: 0;
}
.label {
	margin: 0.2rem 0.2rem 0 0;
	background: #EEE;
	border-radius: 10px;
	color: #999;
}
	.specialty.clickable .label:hover {
		background: #999;
		border-radius: 10px;
		color: #EEE;
	}

/* Star Rating */
.rating i {
	color: #FFD700;
}

.rating > input { display: none; }
.rating > label:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
	float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


/* Account Settings Page */
.account-summary {
	font-size: 0.8rem;
	font-weight: 700;
	margin-top: 2em;
}
	.account-summary p {
		color: #999;
	}
	.account-summary a {
		color: #2199e8;
	}
	.account-summary a:hover {
		color: #1585cf;
	}

/* Tabs */
.tabs.vertical {
	border: 0;
}
.tabs-title {
	background-color: #F8F8F8;
}
	.tabs-title a {
		font-weight: 700;
		font-size: 0.9rem;
	}
	.tabs-title a[aria-selected='true'],
	.tabs-title a:focus {
		background-color: #e6e6e6;
	}
	.tabs-title a:hover {
		background-color: #e6e6e6;
	}
	.tabs-title.is-active a {
		color: #666;
	}

.tabs-content.vertical {
	border: 0;
	border-radius: 5px;
	padding: 1em;
}
.tabs-content h3 {
	color: #666;
	font-weight: 700;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 1em;
}

#apply-form legend, #edit legend {
	font-size: 0.7rem;
	text-transform: uppercase;
	font-weight: 700;
	color: #999;
	letter-spacing: 0.03rem;
	margin-top: 3em;
}

/* Event Card */
.event-card {
	background-color: #fff;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	padding: 0;
	margin: 1em 0;
	width: 100%;
}
	.event-card.archived {
		background-color: #f8f8f8;
	}

.event-status {
	background-color: #eee;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: #bbb;
	font-size: 0.8rem;
	padding: 0.4rem;
}
	.event-status.active {
		background-color: #DC4E41;
		color: #fff;
	}
	.event-status.success {
		background-color: #52bf7a;
		color: #fff;
	}

.event-user img,
.event-photographer img {
	border-radius: 50%;
  border: 2px solid #DDD;
  width: 50px;
  height: 50px;
  object-fit: cover;
  float: left;
  margin: 0 1rem 0 0;
}

.event-user h5,
.event-photographer h5 {
	font-size: 1.1rem;
	color: #666;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
	.event-photographer a h5:hover {
		color: #2199e8;
	}

.event-user p,
.event-photographer p {
	font-size: 0.8rem;
	color: #999;
}

.event-info {
	padding: 1rem;
}

.event-details {
	color: #666;
	font-size: 0.8rem;
	line-height: 1.5rem;
}

.event-action {
	border-top: 1px solid #eee;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #666;
	font-size: 0.8rem;
	padding: 1rem;
}


/* Forms */
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
	border-style: none;
	border: none;
	outline: none;
	border-bottom: 2px solid rgba(100, 100, 100, 0.2);
	box-shadow: none;
	padding-left: 0;
	padding-bottom: 0;
	color: #666;
	font-weight: 400;
	background-color: transparent;
}
	textarea[class="textbox"] {
		border-style: none;
		border: 2px solid rgba(100, 100, 100, 0.2);
		box-shadow: none;
		padding: 0.5em;
		color: #666;
		font-weight: 400;
		background-color: transparent;
	}
	.location input[type=text] {
		border: none;
		background: rgba(0, 0, 0, 0.3);
		padding: 0.1em;
		font-size: 2.2rem;
		color: #fff;
		height: auto;
		text-align: center;
		margin-bottom: 0.2em;
	}
	@media only screen and (max-width: 40em) {
  .location input[type=text] {
		font-size: 1.5rem;
	} }

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
textarea:focus {
	border-style: none;
	box-shadow: none;
	border: none;
	border-bottom: 2px solid rgba(33, 153, 232, 1);
	background-color: transparent;
}
	textarea[class="textbox"]:focus {
		border-style: none;
		box-shadow: none;
		border: 2px solid rgba(33, 153, 232, 1);
		background-color: transparent;
	}
	.location textarea:focus {
		border: none;
		background: rgba(255, 255, 255, 0.2);
	}

::-webkit-input-placeholder {
	color: rgba(100, 100, 100, 0.2);
	font-weight: 700;
}
	.location ::-webkit-input-placeholder {
		color: rgba(255, 255, 255, 0.5);
		font-weight: 700;
		font-size: 2.2rem;
		text-align: center;
	}
	@media only screen and (max-width: 40em) {
    .location ::-webkit-input-placeholder {
			font-size: 1.5rem;
		} }


.fieldset {
	padding: 0.5em;
	border: 1px dotted rgba(100, 100, 100, 0.2);
	margin: 0.5em 0;
}
	.fieldset legend {
		font-size: 0.7rem;
		text-transform: uppercase;
		font-weight: 700;
		color: #999;
		padding: 0.5em;
		letter-spacing: 0.03rem;
		background-color: transparent;
	}

label {
	color: #666;
}

.help-text {
	color: #999;
}
	.location .help-text {
		color: #fff;
		margin-bottom: 0;
		margin-top: 0.1em;
	}

#apply-form {
	margin-bottom: 2em;
}
